<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

     {% include footer.html %}
    
    <div style="position: fixed;bottom:0;left:0;right:0;font-size: 140%;background: #d3d3d3;border-style: solid;padding: 10px;margin-bottom: 30px;border-radius: 15px;margin: 0 15px;">
      <p>
        Tämä on  jo päätyneen kurssin sivu.
      </p>

      <p>
        <b>Jos haluat suorittaa kurssin nyt</b>, mene osoitteeseen
        <a href="https://fullstackopen-2019.github.io/">https://fullstackopen-2019.github.io/</a>
      </p>
    </div>

  </body>

</html>
