---
layout: default
---

<div class="home">

  <p><i>Maailman raskain React/Node.js-tutoriaali. Varaa aikaa 100 tuntia, ota hyvä asento, kääri hihat ja aloita koodaaminen!</i></p>

  <p>
    Kurssilla tutustutaan Javascriptilla tapahtuvaan moderniin websovelluskehitykseen. Pääpaino on React-kirjaston avulla toteutettavissa
  single page -sovelluksissa, ja niitä tukevissa Node.js:llä toteutetuissa REST-rajapinnoissa.
  </p>

  <p>
    Kurssi sisältää 8 osaa, joista jokaisen tekemiseen kannattaa varata aikaa noin 5-20 tuntia. 
    Kurssin sisältö on sama kun Helsingin yliopiston Tietojenkäsittelytieteen laitoksen kurssilla 
    <a href='https://courses.helsinki.fi/fi/TKT21009/121540749'>Full stack -websovelluskehitys</a> 5-7 op.
  </p>

  <p>
    Kurssista on mahdollista saada suoritusmerkintä <a href='https://www.helsinki.fi/fi/avoin-yliopisto'>Avoimen yliopiston kautta.</a>
  </p>

  <p>
    Kurssin sisältö ja suoritusmuoto selviävät näiltä sivuilta kurssin alkaessa 1.4. klo 00:00.
  </p>

<!--
  <p>
    Kurssin sisällöstä, esitiedoista ja suoritustavasta kerrotaan materiaalissa <a href='osa0'>osan 0</a> alussa, lue ne huolella.
  </p>
-->

  <h1 class="page-heading">Ajankohtaista</h1>

  <ul>
    <li>Kurssiin liittyvää keskustelua <a href='https://t.me/fullstackcourse'>Telegramissa</a>, tule mukaan!</li>
    <ul>
      <li>Telegram on whatsappin/messengerin tyylinen ilmainen keskustelufoorumisovellus jota on mahdollista käyttää selaimella, mobiililaitteilla
      ja windows/linux/osx-clienteillä. Elämme modernia aikakautta, joten irc ei ole kurssihenkilökunnan toimesta tuettu.</li>
      <li><strong>Huom:</strong> kaikki epäasialliset, halventavat ja jotain ihmisryhmää syrjivät kommentit kanavalla ovat kiellettyjä ja tälläisten
      kommenttien esittäjät poistetaan kanavalta</li>
    </ul>
  </ul>

</div>
