---
layout: default
---

<div class="home">
  <canvas id="canvas" width="370" height="100"></canvas>

  <p>
    Kurssilla käsitellään ohjelmistotuotantoprojektien hallinnan, työvaiheiden ja työvälineiden perusteita. Erityinen
    painotus ketterissä ohjelmistotuotantomenetelmissä.
  </p>

  <p>
    Kurssi sisältää:
  <ul>
    <li>luentoja 2-6 tuntia viikossa, katso aikataulu alempaa</li>
    <li>viikottaiset harjoitustehtävät (varaa laskareihin aikaa keskimäärin 4-8h/vk)</li>
    <li>ensimmäiset kolmet laskarit sisältävät enemmän tehtäviä kuin tekemistä kuin kurssin loppupään laskarit</li>
    <li>miniprojektin (varaa aikaa 6h/viikossa, neljä viimeistä viikkoa kurssista)</li>
    <li>Kurssilta saatavissa yhteensä 7op (6+1), varaudu käyttämään kurssiin aikaa mikäli haluat tehdä kaikki harjoitustehtävät!</li>
    <li>Kurssin opetusjärjestelyt ja arvosteluperusteet on kuvattu tarkemmin osassa 1</li>
  </ul>
  </p>

  <h1 class="page-heading">Ajankohtaista</h1>

  <ul>
    <li>Kurssiin liittyvää keskustelua <a href=' https://telegram.me/ohjelmistotuotanto'>Telegramissa</a>, tule mukaan!</li>
    <ul>
      <li>Telegram on whatsappin/messengerin tyylinen keskustelufoorumisovellus, jota on mahdollista käyttää selaimella, mobiililaitteilla ja Windows/Linux/OSX-clienteillä. </li>
      <li><strong>Huom:</strong> kaikki epäasialliset, halventavat ja jotain ihmisryhmää syrjivät kommentit kanavalla ovat kiellettyjä ja tälläisten
      kommenttien esittäjät poistetaan kanavalta</li>
    </ul>
  </ul>

  <h1 class="page-heading">Kurssimateriaalin tekijä ja lisenssi</h1>

  <p>
    Kurssimateriaalin on tehnyt <a href='https://github.com/mluukkai'>Matti Luukkainen</a>. <a href='https://github.com/fullstackopen/fullstackopen.github.io/graphs/contributors'>Lukuisat</a> <a href='https://github.com/FullStack-HY/FullStack-Hy.github.io/graphs/contributors'>henkilöt</a> ovat parantaneet materiaalin laatua kirjoitus- ja asiavirhekorjauksin. Voit
    <a href='https://fullstackopen.github.io/osa0/#typoja-materiaalissa'>osallistua</a> kurssimateriaalin parantamiseen myös itse.
  </p>
  <p> 
    Tämä materiaali on lisensoitu <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 -lisenssillä</a>, joten voit käyttää ja levittää sitä vapaasti, kunhan alkuperäisten tekijöiden nimiä ei poisteta. Jos teet muutoksia materiaaliin ja haluat levittää muunneltua versiota, se täytyy lisensoida
    samalla lisenssillä. Materiaalien käyttö kaupalliseen tarkoitukseen on ilman erillistä lupaa kielletty. 
  </p>
</div>
